# uncomment and set the variables you wish to use

## the full path to the cloned compose directory, no trailing slashes
# COMPOSE_DIR=/path/to/Compose

## the full path to the parent directory that will hold all the repos
# BOUCAN_DIR=/path/to/BOUCAN

## the repo owner
# REPO_OWNER=3lpsy

## the repo owner
# REPO_OWNER=3lpsy

## the repo base path, does not need to be set if using github and the REPO_OWNER option
# REPO_BASE_URL=http://github.com/myuser

## a prefix added to each forked repo (if using forks)
## for example, if your API fork is called MyProjectboucanpy, then use this option
## all repos need to the same prefix value 
# REPO_PREFIX=BOUCAN

## the branch to clone, defaults to master
# REPO_BRANCH=master